header {
	width: 100%;
	background-color: olive;
	margin-bottom: 5rem;
	padding: 2rem;
}

ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

ul li {
	width: auto;
}

li a:hover,
li a.active {
	color: #000;
}
